<!-- Section -->
  <section>
    <header class="major">
      <h2>Appendix</h2>
    </header>
    <div class="mini-posts">
      <article>
        <a href="#" class="image">{% img pic07.jpg %}</a>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
      </article>
      <article>
        <a href="#" class="image">{% img pic08.jpg %}</a>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
      </article>
      <article>
        <a href="#" class="image">{% img pic09.jpg %}</a>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
      </article>
    </div>
    <ul class="actions">
      <li><a href="#" class="button">More</a></li>
    </ul>
  </section>
